.contacrUs {
    height: 665px;
    padding: 97px 0;
    background-color: #000;
    &__title {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.grid__wrapper {
    width: 440px;
    height: 430px;
}

.feed-form {
    z-index: 0;
    margin-top: 47px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(6, 50px);
    gap: 46px;
    input {
       height: 33px;
       border: none;
       border-bottom: 1.5px solid #FFFFFF;
       background-color: #000; 
       color: #FFFFFF;
       font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.15em;
    }
}

input::-webkit-input-placeholder { color: #fff; }

.message {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 10;
    padding-bottom: 137px;
    padding-top: 6px;
    
}

.button_submit {
    width: 198px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border-radius: 10px;
    background: #DB2512;
    color: #fff;
    border: none;
    grid-row-start: 5;
    transition: 0.7s all;
    &:hover {
        background-color: #8b1708;
    }
}

.email {
    grid-row-start: 2;
}

.phone {
    grid-row-start: 2;
}
