.services {
    padding: 0 14px 0 99px;
    &__title {    
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000000;
    }       
    &__link {
        display: inline-block;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 0.15em;
        text-decoration-line: underline;
        color: #000000;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
    &__items {
        display: flex;
        flex-direction: row;
    }
    &__item {
        width: 33.3%;
        height: 551px;
        margin-top: 50px;    
    }
    &__subtitle {
        margin-top: 21px;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.23em;
        text-transform: uppercase;
        color: #000000;
    }
}   